HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/sql/.back_沃库3.0
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/xxl-job/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

.pmdCache
.cursorrules
refs
tasks/
prototypes/
logs/

.DS_Store
.repomixignore
repomix.config.json
repomix-output.md
CLAUDE.md
.claude/