server:
  port: 8000

spring:
  application:
    name: nebula-example
  profiles:
    active: dev
  
---
# 开发环境配置
spring:
  config:
    activate:
      on-profile: dev
  
  # 数据源配置
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://192.168.2.130:3306/nebula_example?useUnicode=true&characterEncoding=utf-8&useSSL=false&rewriteBatchedStatements=true&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: lilishop
    druid:
      # 连接池配置
      initial-size: 5
      min-idle: 5
      max-active: 20
      # 配置获取连接等待超时的时间
      max-wait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      time-between-eviction-runs-millis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1 FROM DUAL
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      # 优雅关闭配置
      # 关闭时等待时间（毫秒）
      max-evictable-idle-time-millis: 900000
      # 连接池关闭超时时间
      connection-error-retry-attempts: 0
      break-after-acquire-failure: true

nebula:
  discovery:
    nacos:
      namespace: dev


# MyBatis-Plus配置
mybatis-plus:
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto
      table-underline: true

# 日志配置
logging:
  level:
    io.nebula: DEBUG
    io.nebula.example: DEBUG
    com.baomidou.mybatisplus: DEBUG
---
# 测试环境配置
spring:
  config:
    activate:
      on-profile: test
  
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    url: jdbc:mysql://192.168.2.130:3306/nebula_example?useUnicode=true&characterEncoding=utf-8&useSSL=false&rewriteBatchedStatements=true&allowPublicKeyRetrieval=true&serverTimezone=Asia/Shanghai
    driverClassName: com.mysql.cj.jdbc.Driver
    username: root
    password: lilishop
    druid:
      # 连接池配置
      initial-size: 5
      min-idle: 5
      max-active: 20
      # 配置获取连接等待超时的时间
      max-wait: 60000
      # 配置间隔多久才进行一次检测，检测需要关闭的空闲连接，单位是毫秒
      time-between-eviction-runs-millis: 60000
      # 配置一个连接在池中最小生存的时间，单位是毫秒
      min-evictable-idle-time-millis: 300000
      validation-query: SELECT 1 FROM DUAL
      test-while-idle: true
      test-on-borrow: false
      test-on-return: false
      # 优雅关闭配置
      # 关闭时等待时间（毫秒）
      max-evictable-idle-time-millis: 900000
      # 连接池关闭超时时间
      connection-error-retry-attempts: 0
      break-after-acquire-failure: true
  redis:
    database: 2

nebula:
  discovery:
    nacos:
      namespace: test

logging:
  level:
    root: WARN
    io.nebula: INFO

---
# 生产环境配置
spring:
  config:
    activate:
      on-profile: prod
  
  datasource:
    url: jdbc:mysql://prod-db:3306/nebula_example?useUnicode=true&characterEncoding=utf8&serverTimezone=Asia/Shanghai&useSSL=true
    username: ${DB_USERNAME:nebula}
    password: ${DB_PASSWORD:nebula123}
  
  redis:
    host: ${REDIS_HOST:prod-redis}
    password: ${REDIS_PASSWORD:redis123}
    database: 0

nebula:
  discovery:
    nacos:
      server-addr: ${NACOS_SERVER:prod-nacos:8848}
      namespace: prod

logging:
  level:
    root: WARN
    io.nebula: INFO
  file:
    name: /var/log/nebula-example/application.log